<html>
  <body>
    <div id='map'></div>
    <nav id="menu"></nav>
    <div id='console'>
      <h1>City of Chicago</h1>
      <h4>Downtown Dining</h4>
      <h5>Data: Retail/Food Permits, Dept of Business Affairs</h5>
      <div class='session'>
        <h1>Issued: 2010 -
          <label id='year'>2019</label>
        </h1>
        <input id='slider' class='row' type='range' min='2010' max='2019' step='1' value='2019'/>
      </div>

      <div class='session'>
        <h2>Permit Type</h2>
        <div class='row' id='filters'>
          <input id='all' type='radio' name='toggle' value='all' checked='checked'>
          <label for='all'>All</label>
          <input id="Issue" type="radio" name="toggle" value="Issue">
          <label for='Issue'>Issue</label>
          <input id="Renew" type="radio" name="toggle" value="Renew">
          <label for='Renew'>Renew</label>
        </div>
      </div>
    </div>
    <script src="//d3js.org/d3.v4.min.js" charset='utf-8'></script>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mpotter/cjsvs21w60gjk1fmovfg87xhb',
        center: [-87.636127, 41.892699],
        zoom: 13.5
      });

      map.on('load', function () {

        //import data
        d3.json("/data/2015.geojson", function (err,data) {
          if (err) throw err;
console.log(data)
        // Add a geojson point source. Heatmap layers also work with a vector tile source.
        map.addSource('earthquakes', {
          "type": "geojson",
          "data": data
        });

        map.addLayer({
          'id': 'residential-labels',
          'type': 'symbol',
          'source': 'earthquakes',
          'layout': {
            'text-field': ['to-string', ['get', 'DOING BUSINESS AS NAME']],
            'text-font': ['Open Sans Bold', 'Arial Unicode MS Bold'],
            'text-size': [
                'interpolate',
                ['linear'],
                ['zoom'],
                4,6,
                6,9
            ],
            'text-max-width': 5
            },
          'paint': {
            'text-color': 'rgba(0,0,0,0.5)'
          },
          });

        map.addLayer({
          "id": "earthquakes-heat",
          "type": "heatmap",
          "source": "earthquakes",
          "maxzoom": 9,
          "paint": {
            // Increase the heatmap weight based on frequency and property magnitude
            "heatmap-weight": 1,
            // Increase the heatmap color weight weight by zoom level heatmap-intensity is a multiplier on top of heatmap-weight
            "heatmap-intensity": [
              "interpolate",
              ["linear"],
              ["zoom"],
              0,
              1,
              9,
              3
            ],
            // Color ramp for heatmap.  Domain is 0 (low) to 1 (high). Begin color ramp at 0-stop with a 0-transparancy color to create a blur-like effect.
            "heatmap-color": [
              "interpolate",
              ["linear"],
              ["heatmap-density"],
              0,
              "rgba(33,102,172,0)",
              0.2,
              "rgb(103,169,207)",
              0.4,
              "rgb(209,229,240)",
              0.6,
              "rgb(253,219,199)",
              0.8,
              "rgb(239,138,98)",
              1,
              "rgb(178,24,43)"
            ],
            // Adjust the heatmap radius by zoom level
            "heatmap-radius": [
              "interpolate",
              ["linear"],
              ["zoom"],
              0,
              2,
              9,
              10
            ],
            // Transition from heatmap to circle layer by zoom level
            "heatmap-opacity": [
              "interpolate",
              ["linear"],
              ["zoom"],
              7,
              1,
              9,
              0
            ]
          }
        }, 'waterway-label');

        map.addLayer({
          "id": "earthquakes-point",
          "type": "circle",
          "source": "earthquakes",
          "minzoom": 7,
          "paint": {
            // Size circle radius by earthquake magnitude and zoom level
            "circle-radius": 5,
            // Color circle by earthquake magnitude
            "circle-color": "red",
            "circle-stroke-color": "white",
            "circle-stroke-width": 1,
            // Transition from heatmap to circle layer by zoom level
            "circle-opacity": [
              "interpolate",
              ["linear"],
              ["zoom"],
              7,
              0,
              8,
              1
            ]
          }
        }, 'waterway-label');
      });
      });
    </script>

  </body>
</html>
</html>
