<html>
<body>
<div class="map-header">
  <h1>Few Remaining Resi Sites</h1>
    <p>A new riverfront enclave situated among the City's most desirable submarkets</p>
</div>
<div id="map-container">
  <div id='map'></div>
</div>

<div id='image-caption'>
  <p>Interactive Guide: Mouse-in to view residential project names and effective rental rates</p>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
  const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mpotter/cjun2t5t3a8yz1fn0k753yn8r',
  center: [-87.641641, 41.889143],
  zoom: 13.75,
  minZoom: 12.5,
  });

  var framesPerSecond = 15;
  var initialOpacity = 1;
  var opacity = initialOpacity;
  var initialRadius = 10;
  var radius = initialRadius;
  var maxRadius = 50;

  map.on('load', function () {

      // Add a source and layer displaying a point which will be animated in a circle.
      map.addSource('point', {
          "type": "geojson",
          "data": {
              "type": "Point",
              "coordinates": [
                  -87.646196, 41.895594
              ]
          }
      });

      map.addLayer({
          "id": "point",
          "source": "point",
          "type": "circle",
          "paint": {
              "circle-radius": initialRadius,
              "circle-radius-transition": {duration: 0},
              "circle-opacity-transition": {duration: 0},
              "circle-color": "#ffffff"
          }
      });

      map.addLayer({
          "id": "point1",
          "source": "point",
          "type": "circle",
          "paint": {
              "circle-radius": initialRadius,
              "circle-color": "#007cbf"
          }
      });

      map.addControl(new mapboxgl.NavigationControl());


      function animateMarker(timestamp) {
          setTimeout(function(){
              requestAnimationFrame(animateMarker);

              radius += (maxRadius - radius) / framesPerSecond;
              opacity -= ( .9 / framesPerSecond );

              map.setPaintProperty('point', 'circle-radius', radius);
              map.setPaintProperty('point', 'circle-opacity', opacity);

              if (opacity <= 0) {
                  radius = initialRadius;
                  opacity = initialOpacity;
              }

          }, 1000 / framesPerSecond);

      }

      // Start the animation.
      animateMarker(0);
  });
</script>
