<h1>Natural Path of Growth</h1>
    <p>Dynamic 24/7 submarkets expanding around the site for office and residential</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://player.vimeo.com/video/322144032?autoplay=1&loop=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow=autoplay></iframe>
        </div>

        <div id='image-caption'>
            <p>Interactive Guide: To view timelapse in full screen, press arrow icon at bottom right of video player</p>
        </div>
