<h1>Infill Path of Growth</h1>

  <p>Dynamic 24/7 submarkets expanding around the site for office and residential</p>

<html>

<body>
  <div id='map'></div>

  <div class='map-overlay top'>
    <div class='map-overlay-inner'>
      <h2>New Developments Since 2000</h2>
      <label id='year'></label>
      <input id='slider' type='range' min='2000' max='2005' step='1' value='2000'/>
    </div>
    <div class='map-overlay-inner'>
      <div id='legend' class='legend'>
        <div class='bar'></div>
        <div>Units</div>
      </div>
    </div>
  </div>

<script src='//d3js.org/d3.v3.min.js' charset='utf-8'></script>

<script>
mapboxgl.accessToken =
  'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mpotter/cjsvs21w60gjk1fmovfg87xhb',
  center: [-87.636127, 41.892699],
  zoom: 13,
  attributionControl:false
  });

map.addControl(new mapboxgl.FullscreenControl());

var years = [
  2001,
  2002,
  2003,
  2004,
  2005,
];

function filterBy(year) {

var filter = ['<=', 'year', year];
map.setFilter('resi-circles', filter);

// Set slider label to the year
document.getElementById('year').textContent = years[year];
}

map.on('load', function() {


d3.json("/data/resi.geojson", function(err, data) {
if (err) throw err;

// Create a year property value based on time
// used to filter against.
data.features = data.features.map(function(d) {
  d.properties.year = new Date(d.properties.year);
  return d;
});

//some mapbox gl js code to display and style data

map.addSource('resi', {
  'type': 'geojson',
  data: data,
});

map.addLayer({
  'id': 'residential-circles',
  'type': 'circle',
  'source': 'resi',
  'paint': {
    'circle-color': [
    'interpolate',
        ['linear'],
        ['get', 'Units'],
          1, '#FCA107',
          600, '#7F3121'
        ],
  'circle-opacity': .75,
    'circle-radius': [
      'interpolate',
      ['linear'],
        ['get', 'Units'],
          50, 5,
          600, 30
      ]
    }
  });

map.addLayer({
  'id': 'residential-labels',
  'type': 'symbol',
  'source': 'resi',
  'layout': {
    'text-field': ['to-string', ['get', 'Project']],
    'text-font': ['Open Sans Bold', 'Arial Unicode MS Bold'],
    'text-size': 8
    },
  'paint': {
    'text-color': 'rgba(0,0,0,0.5)'
    }
  });

// Set filter to first year of the range
// 0 = 2000
filterBy(2000);

  document.getElementById('slider').addEventListener('input', function(e) {
    var year = parseInt(e.target.value, 10);
    filterBy(year);
    });
  });
});

//code for Mapbox GL Marker Blip, to be refactored

  var framesPerSecond = 15;
  var initialOpacity = 1
  var opacity = initialOpacity;
  var initialRadius = 10;
  var radius = initialRadius;
  var maxRadius = 50;

  map.on('load', function () {

      // Add a source and layer displaying a point which will be animated in a circle.
      map.addSource('point', {
          "type": "geojson",
          "data": {
              "type": "Point",
              "coordinates": [
                  -87.646164, 41.894611
              ]
          }
      });

      map.addLayer({
          "id": "point",
          "source": "point",
          "type": "circle",
          "paint": {
              "circle-radius": initialRadius,
              "circle-radius-transition": {duration: 0},
              "circle-opacity-transition": {duration: 0},
              "circle-color": "#ffffff"
          }
      });

      map.addLayer({
          "id": "point1",
          "source": "point",
          "type": "circle",
          "paint": {
              "circle-radius": initialRadius,
              "circle-color": "#007cbf"
          }
      });


      function animateMarker(timestamp) {
          setTimeout(function(){
              requestAnimationFrame(animateMarker);

              radius += (maxRadius - radius) / framesPerSecond;
              opacity -= ( .9 / framesPerSecond );

              map.setPaintProperty('point', 'circle-radius', radius);
              map.setPaintProperty('point', 'circle-opacity', opacity);

              if (opacity <= 0) {
                  radius = initialRadius;
                  opacity = initialOpacity;
              }

          }, 1000 / framesPerSecond);

      }

      // Start the animation.
      animateMarker(0);
  });
</script>

  </body>
  </html>
</script>

</body>
