<h1>New Infrastructure</h1>
    <p>Transformational projects to strengthen accessibility and enable a transit-oriented lifestyle</p>
  <div id="map-container">
      <div id='map'>
        <nav id="menu"></nav>
      </div>
  </div>

  <div id='image-caption'>
      <p>Interactive Guide: Mouse-out to view full extent of BRT, Transitway and Riverwalk connections</p>
  </div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mpotter/cjs9bp4va02fw1fnl14pj9xof',
    center: [-87.644401, 41.891133],
    zoom: 14.75,
    maxZoom: 15.0,
    minZoom: 12.5,
  });

var framesPerSecond = 15;
var initialOpacity = 1
var opacity = initialOpacity;
var initialRadius = 10;
var radius = initialRadius;
var maxRadius = 50;

map.on('load', function () {



map.addSource('CTA', {
  type: 'vector',
  url: 'mapbox://mpotter.cj1p1jjgm016w2qpi0zsdqylr-3eycz'
});
map.addLayer({
  'id': 'CTA Transit',
  'type': 'fill',
  'source': 'CTA',
  'source-layer': 'Transit_-_Blue_Line',
  'layout': {},
  'paint': {
    'fill-color': '#00a5e0',
    'fill-opacity': .1,
    }
});


  var toggleableLayerIds = [ 'CTA Transit' ];

  for (var i = 0; i < toggleableLayerIds.length; i++) {
    var id = toggleableLayerIds[i];

    var link = document.createElement('a');
    link.href = '#';
    link.className = 'active';
    link.textContent = id;

    link.onclick = function (e) {
      var clickedLayer = this.textContent;
      e.preventDefault();
      e.stopPropagation();

      var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

      if (visibility === 'visible') {
          map.setLayoutProperty(clickedLayer, 'visibility', 'none');
          this.className = '';
      } else {
          this.className = 'active';
          map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
        }
      };

      var layers = document.getElementById('menu');
      layers.appendChild(link);
      }



    // Add a source and layer displaying a point which will be animated in a circle.
    map.addSource('point', {
        "type": "geojson",
        "data": {
            "type": "Point",
            "coordinates": [
                -87.646164, 41.894611
            ]
        }
    });

    map.addLayer({
        "id": "point",
        "source": "point",
        "type": "circle",
        "paint": {
            "circle-radius": initialRadius,
            "circle-radius-transition": {duration: 0},
            "circle-opacity-transition": {duration: 0},
            "circle-color": "#ffffff"
        }
    });

    map.addLayer({
        "id": "point1",
        "source": "point",
        "type": "circle",
        "paint": {
            "circle-radius": initialRadius,
            "circle-color": "#007cbf"
        }
    });


    function animateMarker(timestamp) {
        setTimeout(function(){
            requestAnimationFrame(animateMarker);

            radius += (maxRadius - radius) / framesPerSecond;
            opacity -= ( .9 / framesPerSecond );

            map.setPaintProperty('point', 'circle-radius', radius);
            map.setPaintProperty('point', 'circle-opacity', opacity);

            if (opacity <= 0) {
                radius = initialRadius;
                opacity = initialOpacity;
            }

        }, 1000 / framesPerSecond);

    }

    // Start the animation.
    animateMarker(0);
});
</script>
