<html>
<body>
<h1>Zoning Changes</h1>
  <p>CBD, PMD, Industrial Cooridor, ARO?, </p>

<div id="map-container">
  <div id='map'>
    <nav id="menu"></nav>
  </div>
</div>

<div id='image-caption'>
  <p>Interactive Guide: To view detailed area amenities, mouse-in to zoom and press control to rotate</p>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mpotter/cjsvs21w60gjk1fmovfg87xhb',
    center: [-87.636127, 41.892699],
    zoom: 13.6,
    maxZoom: 17.0,
  });

//center: [-87.636127, 41.892699],

  map.on('load', function () {
    map.addSource('museums', {
      type: 'vector',
      url: "mapbox://mpotter.cju4c7hqi3c9a2rqun2vbyfog-0681t"
    });
    map.addLayer({
      'id': 'museums',
      'type': 'circle',
      'source': 'museums',
      'layout': {
        'visibility': 'visible'
       },
       'paint': {
          'circle-radius': 18,
          'circle-color': 'rgba(55,148,179,1)'
        },
        'source-layer': 'cta_L_stations'
      });

    map.addSource('downtown', {
      type: 'vector',
      url: 'mapbox://mpotter.cj0ww4w5f004j32qdo85d6t1j-41f0i'
    });
    map.addLayer({
      'id': 'downtown',
      'type': 'fill',
      'source': 'downtown',
      'source-layer': 'DowntownZoning',
      'layout': {},
      'paint': {
        'fill-color': '#C22E00',
        'fill-opacity': .5
        }
    });

    map.addSource('northbranch', {
      type: 'vector',
      url: 'mapbox://mpotter.cj1qw66ut00ek2rve2ylsxi7r-41snd'
    });
    map.addLayer({
      'id': 'northbranch',
      'type': 'fill',
      'source': 'northbranch',
      'source-layer': 'NorthBranchZoning',
      'layout': {},
      'paint': {
        'fill-color': '#6DA2A6',
        'fill-opacity': .75
        }
    });
  });

var toggleableLayerIds = [ 'downtown', 'museums', 'northbranch' ];

for (var i = 0; i < toggleableLayerIds.length; i++) {
  var id = toggleableLayerIds[i];

  var link = document.createElement('a');
  link.href = '#';
  link.className = 'active';
  link.textContent = id;

  link.onclick = function (e) {
    var clickedLayer = this.textContent;
    e.preventDefault();
    e.stopPropagation();

    var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

    if (visibility === 'visible') {
        map.setLayoutProperty(clickedLayer, 'visibility', 'none');
        this.className = '';
    } else {
        this.className = 'active';
        map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
      }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
    }
</script>


</body>
</html>
