<html>
<body>

<h1>Zoning Changes</h1>
  <p>CBD, PMD, Industrial Cooridor, ARO?, </p>

<div id="map-container">
  <div id='map'>
    <nav id="menu"></nav>
  </div>
  </div>

<div id='image-caption'>
  <p>Interactive Guide: To view detailed area amenities, mouse-in to zoom and press control to rotate</p>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mpotter/cjsvs21w60gjk1fmovfg87xhb',
    center: [-87.636127, 41.892699],
    zoom: 13.6,
    maxZoom: 17.0,
    minZoom: 13.5,
  });

//center: [-87.636127, 41.892699],

  map.on('load', function () {
    map.addSource('museums', {
      type: 'vector',
      url: 'mapbox://mpotter.cju02as241wv32rns9clb3edx-9slxq'
    });
    map.addLayer({
      'id': 'museums',
      'type': 'circle',
      'source': 'museums',
      'layout': {
        'visibility': 'visible'
       },
       'paint': {
          'circle-radius': 18,
          'circle-color': 'rgba(55,148,179,1)'
        },
        'source-layer': 'museum-cusco'
      });

    map.addSource('contours', {
      type: 'vector',
      url: 'mapbox://mapbox.mapbox-terrain-v2'
    });
    map.addLayer({
      'id': 'contours',
      'type': 'line',
      'source': 'contours',
      'source-layer': 'contour',
      'layout': {
        'visibility': 'visible',
        'line-join': 'round',
        'line-cap': 'round'
      },
      'paint': {
        'line-color': '#877b59',
        'line-width': 1
        }
    });
  });

var toggleableLayerIds = [ 'contours', 'museums' ];

for (var i = 0; i < toggleableLayerIds.length; i++) {
  var id = toggleableLayerIds[i];

  var link = document.createElement('a');
  link.href = '#';
  link.className = 'active';
  link.textContent = id;

  link.onclick = function (e) {
    var clickedLayer = this.textContent;
    e.preventDefault();
    e.stopPropagation();

    var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

    if (visibility === 'visible') {
        map.setLayoutProperty(clickedLayer, 'visibility', 'none');
        this.className = '';
    } else {
        this.className = 'active';
        map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
      }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
    }
</script>


</body>
</html>
