<h1>Suburban Migration</h1>
  <p>70% of Suburban Migrations Locate in West Loop (55%), River North (17%), Fulton Market (8%)</p>
  <div id="map-container">
    <div id='map'></div>
  </div>

  <div id='image-caption'>
    <p>Interactive Guide: Mouse-in to view River District parcels relative to CBD migration</p>
  </div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
  const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mpotter/cjt7gnxc401061foks0a3v50w',
  center: [-87.645762, 41.890340],
  zoom: 13.5,
  maxZoom: 15.0,
  minZoom: 12.5,
  });

  var framesPerSecond = 15;
  var initialOpacity = 1;
  var opacity = initialOpacity;
  var initialRadius = 10;
  var radius = initialRadius;
  var maxRadius = 50;

  map.on('load', function () {

    // Add a source and layer displaying a point which will be animated in a circle.
    map.addSource('point', {
        "type": "geojson",
        "data": {
            "type": "Point",
            "coordinates": [
                -87.646164, 41.894611
            ]
        }
    });

    map.addLayer({
        "id": "point",
        "source": "point",
        "type": "circle",
        "paint": {
            "circle-radius": initialRadius,
            "circle-radius-transition": {duration: 0},
            "circle-opacity-transition": {duration: 0},
            "circle-color": "#ffffff"
        }
    });

    map.addLayer({
        "id": "point1",
        "source": "point",
        "type": "circle",
        "paint": {
            "circle-radius": initialRadius,
            "circle-color": "#007cbf"
        }
    });


    function animateMarker(timestamp) {
        setTimeout(function(){
            requestAnimationFrame(animateMarker);

            radius += (maxRadius - radius) / framesPerSecond;
            opacity -= ( .9 / framesPerSecond );

            map.setPaintProperty('point', 'circle-radius', radius);
            map.setPaintProperty('point', 'circle-opacity', opacity);

            if (opacity <= 0) {
                radius = initialRadius;
                opacity = initialOpacity;
            }

        }, 1000 / framesPerSecond);

    }

    // Start the animation.
    animateMarker(0);
  });
  </script>
