<html>
<body>
<div class="map-header">
  <h1>Office Submarket Evolution</h1>
    <p>Chicago's Leading Companies Locate Around Transit, Amenities and the River</p>
</div>

<div id="map-container">
<div id='map'>
  <nav id="menu"></nav>
<div class='map-overlay top'>
  <div class='map-overlay-inner'>
    <h2>Deliveries from 2000 - <label id='year'></label></h2>
    <input id='slider' type='range' min='2000' max='2024' step='1' value='2000'/>
    <div id='legend' class='legend'>
      <div class='bar'></div>
      <div>40,000-1.4m GFA</div>
    </div>
  </div>
</div>
</div>
</div>

<script src='//d3js.org/d3.v3.min.js' charset='utf-8'></script>

<script>
mapboxgl.accessToken =
  'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mpotter/cjuybazah05a31gpkqc4s6oxv',
  center: [-87.636127, 41.892699],
  zoom: 13.5,
  attributionControl:false
  });

var years = [
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024
];

function filterBy(year) {
var filterType = ['!=', ['string', ['get', 'Type']], 'placeholder'];
var filterYear = ['<=',['number',['get','Year']], year];
map.setFilter('office-circles', filterYear);
map.setFilter('office-labels', filterYear);

// Set slider label to the year
document.getElementById('year').innerText = year;
}

map.on('load', function() {


d3.json("/data/office_built_buildings.geojson", function(err, data) {
if (err) throw err;

// Create a year property value based on time
// used to filter against.
data.features = data.features.map(function(d) {
  d.properties.year = new Date(d.properties);
  return d;
});

map.addSource('northbranch', {
  type: 'vector',
  url: 'mapbox://mpotter.cjs3qnclg3el72rlhp31cn745-2v5f7'
});
map.addLayer({
  'id': 'Transitway',
  'type': 'line',
  'source': 'northbranch',
  'source-layer': 'transitway',
  'layout': {
    'line-join': "round",
    'line-cap': "round"
  },
  'paint': {
    'line-color': '#888',
    'line-width': 4,
    'line-opacity': .5
    }
});

map.addSource('CTA', {
  type: 'vector',
  url: 'mapbox://mpotter.cj1p1jjgm016w2qpi0zsdqylr-3eycz'
});
map.addLayer({
  'id': 'CTA Transit',
  'type': 'fill',
  'source': 'CTA',
  'source-layer': 'Transit_-_Blue_Line',
  'layout': {},
  'paint': {
    'fill-color': '#00a5e0',
    'fill-opacity': .1
    }
});

map.addSource('Commuter', {
  type: 'vector',
  url: 'mapbox://mpotter.cj1p6xhps000s31plezbq397w-3r4s5'
});
map.addLayer({
  'id': 'Commuter',
  'type': 'fill',
  'source': 'Commuter',
  'source-layer': 'Transit_-_Commuter',
  'layout': {},
  'paint': {
    'fill-color': 'yellow',
    'fill-opacity': .1
    }
});

var toggleableLayerIds = [ 'CTA Transit', 'Commuter', 'Transitway' ];

for (var i = 0; i < toggleableLayerIds.length; i++) {
  var id = toggleableLayerIds[i];

  var link = document.createElement('a');
  link.href = '#';
  link.className = 'active';
  link.textContent = id;

  link.onclick = function (e) {
    var clickedLayer = this.textContent;
    e.preventDefault();
    e.stopPropagation();

    var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

    if (visibility === 'visible') {
        map.setLayoutProperty(clickedLayer, 'visibility', 'none');
        this.className = '';
    } else {
        this.className = 'active';
        map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
      }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
    }



map.addSource('office', {
  'type': 'geojson',
  data: data,
});

map.addLayer({
  'id': 'office-circles',
  'type': 'circle',
  'source': 'office',
  'paint': {
    'circle-color': [
    'interpolate',
        ['linear'],
        ['number',['get', 'GFA']],
          40, '#FCA107',
          1400000, '#7F3121'
        ],
  'circle-opacity': .75,
    'circle-radius': [
      'interpolate',
      ['linear'],
        ['number',['get', 'GFA']],
          40, 5,
          1400000, 30
      ]
    }
  });

map.addLayer({
  'id': 'office-labels',
  'type': 'symbol',
  'source': 'office',
  'layout': {
    'text-field': ['to-string', ['get', 'Project']],
    'text-font': ['Open Sans Bold', 'Arial Unicode MS Bold'],
    'text-size': 8
    },
  'paint': {
    'text-color': 'rgba(255,255,255,1.0)'
    }
  });

// Set filter to first year of the range
// 0 = 2001
filterBy(2000);

  document.getElementById('slider').addEventListener('input', function(e) {
    var year = parseInt(e.target.value, 10);
    filterBy(year);
    });
  });
});

//code for Mapbox GL Marker Blip, to be refactored

  var framesPerSecond = 15;
  var initialOpacity = 1
  var opacity = initialOpacity;
  var initialRadius = 10;
  var radius = initialRadius;
  var maxRadius = 50;

  map.on('load', function () {

      // Add a source and layer displaying a point which will be animated in a circle.
      map.addSource('point', {
          "type": "geojson",
          "data": {
              "type": "Point",
              "coordinates": [
                  -87.646196, 41.895594
              ]
          }
      });

      map.addLayer({
          "id": "point",
          "source": "point",
          "type": "circle",
          "paint": {
              "circle-radius": initialRadius,
              "circle-radius-transition": {duration: 0},
              "circle-opacity-transition": {duration: 0},
              "circle-color": "#ffffff"
          }
      });

      map.addLayer({
          "id": "point1",
          "source": "point",
          "type": "circle",
          "paint": {
              "circle-radius": initialRadius,
              "circle-color": "#007cbf"
          }
      });


      function animateMarker(timestamp) {
          setTimeout(function(){
              requestAnimationFrame(animateMarker);

              radius += (maxRadius - radius) / framesPerSecond;
              opacity -= ( .9 / framesPerSecond );

              map.setPaintProperty('point', 'circle-radius', radius);
              map.setPaintProperty('point', 'circle-opacity', opacity);

              if (opacity <= 0) {
                  radius = initialRadius;
                  opacity = initialOpacity;
              }

          }, 1000 / framesPerSecond);

      }
      // Start the animation.
      animateMarker(0);
  });
  map.addControl(new mapboxgl.FullscreenControl(), 'bottom-right');
</script>
</body>
</html>
