<h1>20 Years in the Making</h1>
    <p>Click on Slider to Navigate Supply Across Time</p>
<body>

<div id='map'></div>

<div class='map-overlay top'>
    <div class='map-overlay-inner'>
        <h2>Significant earthquakes in 2015</h2>
        <label id='year'></label>
        <input id='slider' type='range' min='2000' max='2011' step='1' value='2005' />
    </div>
    <div class='map-overlay-inner'>
        <div id='legend' class='legend'>
            <div class='bar'></div>
            <div>Magnitude (m)</div>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v5.min.js" charset='utf-8'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mpotter/cjszdfg6e33t21fo3pxkicd6g',
    center: [-87.645762, 41.890340],
    zoom: 12.5
});

var years = [
    2000,
    2001,
    2002,
    2003,
    2004,
    2005,
    2006,
    2007,
    2008,
    2009,
    2010,
    2011
];

function filterBy(year) {

    var filters = ['==', 'year', year];
    map.setFilter('earthquake-circles', filters);
    map.setFilter('earthquake-labels', filters);

    // Set the label to the month
    document.getElementById('year').textContent = years[year];
}

map.on('load', function() {

    // Data courtesy of http://earthquake.usgs.gov/
    // Query for significant earthquakes in 2015 URL request looked like this:
    // http://earthquake.usgs.gov/fdsnws/event/1/query
    //    ?format=geojson
    //    &starttime=2015-01-01
    //    &endtime=2015-12-31
    //    &minmagnitude=6'
    //
    // Here we're using d3 to help us make the ajax request but you can use
    // Any request method (library or otherwise) you wish.
    d3.json('https://s3.us-east-2.amazonaws.com/tribune37/ChicagoAllDevelopment.geojson', function(err, data) {
        if (err) throw err;

        // Create a month property value based on time
        // used to filter against.
        data.features = data.features.map(function(d) {
            d.properties.year = new Date(d.properties.DateTime).getFullYear();
            return d;
        });

        map.addSource('earthquakes', {
            'type': 'geojson',
            data: data
        });

        map.addLayer({
            'id': 'earthquake-circles',
            'type': 'circle',
            'source': 'earthquakes',
            'paint': {
                'circle-color': [
                    'interpolate',
                    ['linear'],
                    ['get', 'GFA'],
                    0, '#FCA107',
                    3000000, '#7F3121'
                ],
                'circle-opacity': 0.75,
                'circle-radius': [
                    'interpolate',
                    ['linear'],
                    ['get', 'GFA'],
                    0, 20,
                    3000000, 40
                ]
            }
        });

        map.addLayer({
            'id': 'earthquake-labels',
            'type': 'symbol',
            'source': 'earthquakes',
            'layout': {
                'text-field': ['concat', ['to-string', ['get', 'GFA']], 'm'],
                'text-font': ['Open Sans Bold', 'Arial Unicode MS Bold'],
                'text-size': 12
            },
            'paint': {
                'text-color': 'rgba(0,0,0,0.5)'
            }
        });

        // Set filter to first month of the year
        // 0 = January
        filterBy(2005);

        document.getElementById('slider').addEventListener('input', function(e) {
            var year = parseInt(e.target.value, 10);
            filterBy(year);
        });
    });
});
</script>

</body>
