<html>
<body>
<div id='map'></div>
<nav id="menu"></nav>

<div id='console'>
  <h1>Chicago 'L' Weekday Ridership</h1>
  <p>Data: <a href='https://www.transitchicago.com/' target="_blank">CTA</a> - Averages for 2018</p>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mpotter/cjz4e6tlt07rp1cmwg0fjxpel',
  center: [-87.636127, 41.892699],
  zoom: 13.5,
  attributionControl: false
});

var framesPerSecond = 15;
var initialOpacity = 1;
var opacity = initialOpacity;
var initialRadius = 10;
var radius = initialRadius;
var maxRadius = 50;

map.on('load', function() {
//add layers for blip
map.addSource('point', {
    "type": "geojson",
    "data": {
        "type": "Point",
        "coordinates": [
            -87.646196, 41.895594
        ]
    }
});

map.addLayer({
    "id": "point",
    "source": "point",
    "type": "circle",
    "paint": {
        "circle-radius": initialRadius,
        "circle-radius-transition": {duration: 0},
        "circle-opacity-transition": {duration: 0},
        "circle-color": "#ffffff"
    }
});

map.addLayer({
    "id": "point1",
    "source": "point",
    "type": "circle",
    "paint": {
        "circle-radius": initialRadius,
        "circle-color": "#007cbf"
    }
});

//function to execute blip

function animateMarker(timestamp) {
    setTimeout(function(){
        requestAnimationFrame(animateMarker);

        radius += (maxRadius - radius) / framesPerSecond;
        opacity -= ( .9 / framesPerSecond );

        map.setPaintProperty('point', 'circle-radius', radius);
        map.setPaintProperty('point', 'circle-opacity', opacity);

        if (opacity <= 0) {
            radius = initialRadius;
            opacity = initialOpacity;
        }
    }, 1000 / framesPerSecond);
}
animateMarker(0);
  });
map.addControl(new mapboxgl.FullscreenControl(), 'bottom-right');
</script>
</body>
</html>
