<html>
  <body>
    <div id='map'></div>
    <nav id="menu"></nav>

    <div id='console'>
      <h1>Chicago 'L' Weekday Ridership</h1>
      <p>Data:
        <a href='https://www.transitchicago.com/' target="_blank">CTA</a>
        - Averages for 2018</p>
    </div>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mpotter/cjz4e6tlt07rp1cmwg0fjxpel',
        center: [
          -87.644261, 41.886769
        ],
        zoom: 13.75,
        attributionControl: false
      });

      map.on('load', function () {
        //add layers for blip
        map.addSource('point', {
          "type": "geojson",
          "data": {
            "type": "Point",
            "coordinates": [-87.646196, 41.895594]
          }
        });

        map.addLayer({
          "id": "point",
          "source": "point",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-radius-transition": {
              duration: 0
            },
            "circle-opacity-transition": {
              duration: 0
            },
            "circle-color": "#ffffff"
          }
        });

        map.addLayer({
          "id": "point1",
          "source": "point",
          "type": "circle",
          "paint": {
            "circle-radius": initialRadius,
            "circle-color": "#007cbf"
          }
        });

        //add layers for toggle buttons
        map.addSource('Commuter', {
          type: 'vector',
          url: 'mapbox://mpotter.cj1p6xhps000s31plezbq397w-3r4s5'
        });
        map.addLayer({
          'id': 'Commuter',
          'type': 'fill',
          'source': 'Commuter',
          'source-layer': 'Transit_-_Commuter',
          'layout': {
            'visibility': 'none'
          },
          'paint': {
            'fill-color': '#FF7002',
            'fill-opacity': .25
          }
        });

        map.addSource('Transitway', {
          type: 'vector',
          url: 'mapbox://mpotter.cjs3qnclg3el72rlhp31cn745-2v5f7'
        });
        map.addLayer({
          'id': 'Transitway',
          'type': 'line',
          'source': 'Transitway',
          'source-layer': 'transitway',
          'layout': {
            'visibility': 'none',
            'line-join': "round",
            'line-cap': "round"
          },
          'paint': {
            'line-color': '#888',
            'line-width': 4,
            'line-opacity': .5
          }
        });

        map.addSource('CTA Blue', {
          type: 'vector',
          url: 'mapbox://mpotter.cjzbbjtkj00f12up81nwjme4f-9i2j6'
        });
        map.addLayer({
          'id': 'CTA Blue',
          'type': 'fill',
          'source': 'CTA Blue',
          'source-layer': 'Transit_-_Blue_Line',
          'layout': {
            'visibility': 'none'
          },
          'paint': {
            'fill-color': '#00a5e0',
            'fill-opacity': .1
          }
        });

        map.addSource('CTA Brown', {
          type: 'vector',
          url: 'mapbox://mpotter.cj1p6orem012e2qmhe8wsjmad-621pz'
        });
        map.addLayer({
          'id': 'CTA Brown',
          'type': 'fill',
          'source': 'CTA Brown',
          'source-layer': 'Transit_-_Brown_Line',
          'layout': {
            'visibility': 'none'
          },
          'paint': {
            'fill-color': '#64371b',
            'fill-opacity': .1
          }
        });

        map.addSource('CTA Green', {
          type: 'vector',
          url: 'mapbox://mpotter.cjzbbwhl405po2ipt1o5yjnxv-8pf1v'
        });
        map.addLayer({
          'id': 'CTA Green',
          'type': 'fill',
          'source': 'CTA Green',
          'source-layer': 'Transit_-_Green_Line',
          'layout': {
            'visibility': 'none'
          },
          'paint': {
            'fill-color': '#009b3a',
            'fill-opacity': .1
          }
        });

        //code for layer button functionality
        var toggleableLayerIds = ['CTA Brown', 'CTA Green', 'CTA Blue', 'Commuter', 'Transitway'];

        for (var i = 0; i < toggleableLayerIds.length; i++) {
          var id = toggleableLayerIds[i];

          var link = document.createElement('a');
          link.href = '#';
          link.className = 'active';
          link.textContent = id;

          link.onclick = function (e) {
            var clickedLayer = this.textContent;
            e.preventDefault();
            e.stopPropagation();

            var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

            if (visibility === 'visible') {
              map.setLayoutProperty(clickedLayer, 'visibility', 'none');
              this.className = '';
            } else {
              this.className = 'active';
              map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
            }
          };
          var layers = document.getElementById('menu');
          layers.appendChild(link);
        }
        animateMarker(0);
      });
    </script>
  </body>
</html>
