@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

html, body {
  font-family: roboto-medium;
}


#logo-left {
  float: left;
  width: 100%;
  height: auto;
}

#logo-right {
  float: right;
  font-size: 1em;
  color: #00A1DF;
  letter-spacing: .50px;
  font-weight: medium;
}

#logo-right:hover {
  color: #63AF7A;
}


.container{
  max-width: 2000px;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 700px;
}

#image-caption {
  padding-bottom: 10px;
  padding-left: 5px;
  color: #C7C7C7;
  font-size: 1em;
  font-weight: thin;
  font-family: helvetica;
}


.user-section{
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 22px;
    color: #000000d4;
  }
}

.footer{
  font-size: 14px;
  padding-top: 5px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}

//time series styling

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: center;
  max-width: 1000px;
  top: 0;
  left: 0;

}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

.map-overlay .legend .bar {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #FCA107, #7F3121);
}

.map-overlay input {
background-color: transparent;
display: inline-block;
width: 50%;
position: relative;
margin: 0;
cursor: ew-resize;
}

//styling for show and hide layers

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}
