@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

html, body {
  font-family: roboto-medium;
}


#logo-left {
  float: left;
  width: 100%;
  height: auto;
}

#logo-right {
  float: right;
  font-size: 1em;
  color: #00A1DF;
  letter-spacing: .50px;
  font-weight: medium;
}

#logo-right:hover {
  color: #63AF7A;
}


.container{
  max-width: 1000px;
}


#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 700px;
}

.paragraph-image {
  background-size: cover;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

#image-caption {
  padding-bottom: 10px;
  padding-left: 5px;
  color: #C7C7C7;
  font-size: 1em;
  font-weight: thin;
  font-family: helvetica;
}


#owl-carousel{
    display: block;
    width: 100%;
    height: auto;
}


.user-section{
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 22px;
    color: #000000d4;
  }
}

.footer{
  font-size: 14px;
  padding-top: 5px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}
