<nav class="navbar navbar-light bg-light d-flex">
  <div class="container">

    <div class="logo">
      <a class="navbar-brand" href="#">
        <%= image_tag("ridclogo.jpg", {:style => "width:100px;"}) %>
      </a>
    </div>
    <div class="user-section">
      <%= link_to "Data-Driven Development Portal", root_path, class: "navbar-brand", id: "logo-right" %>
    </div>
  </div>
</nav>
